
<h3> feeds </h3>

<div>
    <%= form_tag("/posts", method: "post") do %>
        <%= label_tag 'body', 'create post' %><br>
        <%= text_area_tag('body') %><br>
        <%= submit_tag('create') %>
    <% end %>
</div>

<ul>
    <% @posts.each do |post| %>
        <li> 
            <%= link_to post.user.username, user_path(post.user.id) %><br>
            <div>
                <%= post.body %><br>
            </div>

            <div>
                <%= post.likes.length %>

                <% liked = Like.where(likeable_id: post.id, liker_id: current_user.id) %>
                
                <% if liked.empty? %>
                    <%= form_tag("/likes", method: "post") do %>
                        <%= hidden_field_tag(:likeable_id, post.id) %>
                        <%= submit_tag('like') %>
                    <% end %>
                <% else %>
                    <%= form_tag like_path(liked[0].id), method: "delete" do %>
                        <%= submit_tag("unlike") %>
                    <% end %>
                <% end %>

                <%= post.comments.length %><br>
                <%= link_to "comment", post_path(post) %><br>

                <% if current_user.id == post.user_id %>
                    <%= link_to "edit", edit_post_path(post.id) %>
                    <%= button_to "delete", post_path(post.id), method: :delete%><br>
                <% end %>
            </div>
        </li>
    <% end %>
</ul>