
<% friend_request_count = FriendRequest.where(request_receiver_id: current_user.id).count%>

<div>
   <h4>
        <%= link_to "friend request #{friend_request_count}", friend_requests_url %>
        <%= link_to "see users", users_url %>
   </h4>
   <%= button_to "Sign out", destroy_user_session_path, method: :delete %><br>
</div>


<!--<%= link_to "Edit profile", edit_user_registration_path %><br><br>-->
<div>
    <%= form_tag("/posts", method: "post") do %>
        <%= label_tag 'body', 'create post' %><br>
        <%= text_area_tag('body') %><br>
        <%= submit_tag('create') %>
    <% end %>
</div>

<ul>
    <% @posts.each do |post| %>
        <li> 
            <%= post.body %><br>
            <div>
                <%= post.likes.length %>

                <% liked = Like.where(likeable_id: post.id, liker_id: current_user.id) %>
                
                <% if liked.empty? %>
                    <%= form_tag("/likes", method: "post") do %>
                        <%= hidden_field_tag(:likeable_id, post.id) %>
                        <%= submit_tag('like') %>
                    <% end %>
                <% else %>
                    <%= form_tag like_path(liked[0].id), method: "delete" do %>
                        <%= submit_tag("unlike") %>
                    <% end %>
                <% end %>

                <%= post.comments.length %><br>
                <%= link_to "comment", post_path(post) %><br>

                <!--<%= turbo_frame_tag post do %>
                    <%= link_to "comment", post_path(post) %>
                <% end %>-->
                
                <% if current_user.id == post.user_id %>
                    <%= link_to "edit", edit_post_path(post.id) %>
                    <%= button_to "delete", post_path(post.id), method: :delete%><br>
                <% end %>
            </div>
        </li>
    <% end %>
</ul>